<?xml version="1.0" encoding="utf-8" ?>
<root>
	<commands>
		<element>
			<command>go</command>
			<description>Move from one place to another - Ex. go north</description>
			<options>
				<element>move</element>
			</options>
		</element>
		<element>
			<command>Attack</command>
			<description>Attack the creature in the room</description>
		</element>
		<element>
			<command>help</command>
			<description>Lists all commands and their usages</description>
		</element>
		<element>
			<command>quit</command>
			<description>Hides you forever in the darkness. Unable to escape.</description>
		</element>
		<element>
			<command>loot</command>
			<description>Pick up, take or grab an item.</description>
		</element>
	</commands>
</root>