<rooms>
	<description>You're in the hall of the haunted building..Go inside to face creatures</description>
	<start>true</start>
	<name>Hall</name>
		<doors>
			<direction>North</direction>
			<room>Bar</room>
		</doors>
	<description>You're in the hall of the haunted building..Go inside to face creatures</description>
	<doors>
		<element>
			<name>Hall</name>
			<start>true</start>
			<direction>North</direction>
			<room>Bar</room>
		</element>
		<element>
			<name>Bar</name>
			<start>false</start>
			<direction>South</direction>
			<room>Hall</room>
		</element>
		<element>
			<name>Lab</name>
			<start>false</start>
			<direction>WEST</direction>
			<room>WC</room>
		</element>
		<element>
			<name>WC</name>
			<start>false</start>
			<direction>East</direction>
			<room>Lab</room>
		</element>
	</doors>
	<items />
	<creatures />
	<element>
		<name>playground</name>
		<description>in a playground</description>
		<doors>
			<element>
				<direction>WEST</direction>
				<room>outside</room>
			</element>
		</doors>
		<items>
			<element>
				<description>a double edged sword</description>
				<damage>20</damage>
				<damagereduction>0</damagereduction>
				<name>sword</name>
			</element>
		</items>
		<creatures />
	</element>

	<element>
		<name>lab</name>
		<start>false</start>
		<description>Something is lurking around in the lab</description>
		<doors>
			<element>
				<direction>East</direction>
				<room>Hall</room>
			</element>
		</doors>
		<items />
		<creatures>
			<element>
				<name>Creature 1</name>
				<healthpoint>20</healthpoint>
			</element>
		</creatures>
	</element>
</rooms>
